/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Styles */

/* General */
.container{
    max-width: 1300px;
    /* width:100%; */
    padding: 0 32px;
    margin: 0 auto;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }

li a{
    margin-right: 1rem;
    text-decoration: none;
    color:black;
    font-weight: 600;
    font-size: 1.2rem;
}

/* Header */
.logo{
   font-size: 2rem;
   font-weight: 600;
   color:red;
}

.header{
    padding: 1rem;
}


/* Hero */
.hero{
    width: 100%;
    height: 40vh;
    border: 2px solid rgb(150, 60, 60);
}

.full-width{
    width: 100%;
    object-fit: cover;
    height: 40vh;

}

/* Articles */
.card{
    flex: 0 1 30%;
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid rgb(150, 60, 60);
}

h2{
    font-size: 1.4rem;
    font-weight: 600;
    padding: .5rem;
    padding-left: .25rem;
}
p{
    padding-left: .35rem;
    padding-bottom: .5rem;
    font-size: 1rem;
    font-style: italic;
}
span{
    margin-right: 2rem;
    color: rgb(70, 70, 70);
}

cite{
    color:rgb(221, 75, 75);
}

/* Footer */
footer{
    background-color: rgb(143, 84, 84);
}

.footer{
    padding: 1rem;
    margin-top: 1rem;
}